/* -----reset css------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #454545;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1;
  font-size: 16px;
}

ol, ul {
	list-style: none;
}

html, body {
  overflow-x: hidden;
}

/* -----main css------ */
.header {
  background-color: #FFAB91;
  display: flex;
  justify-content: center;
}

.main-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullname {
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  font-family: 'Noto Sans HK', sans-serif;
  margin: 1em;
}

.kind-of-activity {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.avatar {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.avatar__item {
  width: 20em;
  height: 20em;
  border-radius: 40em;
  box-shadow: 0 0 7px #454545;
}

.contacts {
  display: flex;
  margin-bottom: 4em;
  justify-content: space-between;
  align-items: center;
}

.contacts-main {
  text-align: left;
  font-size: 2em;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
  margin: .7em 0;
}

.contacts-text {
  font-size: 1.5em;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.social-links {
  margin: 0 3.1em;
}

.social-links-img {
  width: 4em;
}

.social-links-img:hover {
  box-shadow: 0 0 7px #454545;
  border-radius: .7em;
}

.main {
  background-color: #FFDDC1;
  display: flex;
  justify-content: space-around;
}

.warp-main {
  margin: 2em 0;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.section-title {
  font-size: 2em;
  font-family: 'Noto Sans HK', sans-serif;
  margin: .7em 0;
}

.section-list__item {
  font-size: 1.3em;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: .5em 0;
}

.section-list__img {
  width: 1.1em;
  margin-right: .5em;
}

.footer {
  background-color: #C97B63;
}

.contacts-footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.contacts-footer__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  margin: 0 2em;
}

.contacts-footer__link:hover {
  color: #454545;
}

.contacts-footer__img {
  width: 2em;
  padding-right: 0.5em;
}


.contacts-footer__text {
  font-size: 1.5em;
  color: #000;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 200;
}

/* -----media requests----- */
@media screen and (max-width: 850px) {

  .fullname {
    font-size: 3em;
    font-weight: 500;
    margin: .5em 0; 
  }

  .kind-of-activity {
    font-size: 2.2em;
    font-weight: 200;
    padding: .5em;
  }

  .avatar {
    margin: 1em 0;
  }

  .avatar__item {
    width: 15em;
    height: 15em;
    border-radius: 30em;
    box-shadow: 0 0 5px #454545;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
  }
  
  .email, .phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts__item {
    margin: 1em 0;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .warp-main {
    margin: 0;
  }

  .section {
    display: flex;
    align-items: center;
    margin: .5em;
  }

  .section-list__item {
    font-size: 1em;
  }

  .contacts-footer {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
  }

  .contacts-footer__link {
    margin: .5em 0;
  }
}

@media screen and (max-width: 1100px) {
  .main {
    padding: 0 20px;
  }
}
